<!doctype html>
<html lang="vi">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Nguyễn Đức Thắng - IT Network Engineer</title>

    <meta
      name="description"
      content="Portfolio cá nhân của Nguyễn Đức Thắng - Chuyên gia IT Network, Python Automation tại Bắc Ninh."
    />
    <meta
      name="keywords"
      content="Nguyễn Đức Thắng, Thắng IT, Network Engineer, Bắc Ninh, Python Flask"
    />
    <meta name="author" content="Nguyễn Đức Thắng" />

    <meta
      property="og:title"
      content="Nguyễn Đức Thắng - IT Network Engineer"
    />
    <meta
      property="og:description"
      content="Chuyên gia hạ tầng mạng & Tự động hóa tại Bắc Ninh"
    />
    <meta
      property="og:image"
      content="{{ url_for('static', filename='img/thangnd.png') }}"
    />
    <meta property="og:url" content="https://thangnd.io.vn" />
    <meta property="og:type" content="website" />

    <link
      rel="icon"
      type="image/png"
      href="{{ url_for('static', filename='img/logo.png') }}"
    />

    <script src="https://cdn.tailwindcss.com"></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
  </head>
  <body class="bg-slate-50 min-h-screen">
    {% block content %}{% endblock %}
  </body>
</html>
